@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0;}

body {
	background:#ffffff;
}

header {
	background:#3369e8;
	color:#000000;
	overflow:hidden;
	margin-bottom:30px;
}

header h1 {
	font-size:26px;
	line-height:100px;
	font-family:"Bariol Regular", "Bariol Bold", "Bariol Light", "Bariol Thin";
	font-weight:bold;
}

header .title2 {
	line-height:80px;
}

header .escudo2{
	margin-top:35px;
}

footer {
	background:#3369e8;
	color:#000000;
	margin-top:71px;
	margin-bottom:-10px;
	overflow:hidden;
}

footer h4 {
	font-size:18px;
	line-height:55px;
	font-family:"Bariol Bold", "Bariol Light", "Bariol Thin";
	font-weight:bold;
	margin-left:110px;
}

footer h5 {
	font-size:14px;
	line-height:55px;
	font-family:"Bariol Regular", "Bariol Bold", "Bariol Light", "Bariol Thin";
	margin-left:-5px;
}

.title {
	font-size:34px;
	font-family:"Bariol Bold", "Bariol Light", "Bariol Thin";
	font-weight:bold;
}

.title2 {
	font-size:26px;
	font-family:"Bariol Bold", "Bariol Light", "Bariol Thin";
	font-weight:bold;
	margin-top:20px;
}
.escudo {
	margin-bottom:40px;
}

input[type=text],[type=password]{
	font-family:"Bariol Regular", "Bariol Bold", "Bariol Light", "Bariol Thin";
	font-size:18px;
}
	
.iniciar {
	background:#4787ed;
	color:#000000;
	font-family:"Bariol Regular", "Bariol Bold", "Bariol Light", "Bariol Thin";
	font-weight:bold;
	font-size:18px;
	margin-top:20px;
}

.iniciar:hover {
	background:#1122cc;
	color:#FFFFFF;
}

.web2 {
	margin-top:35px;
	left:600px;
}

.titulo2 {
	font-family:"Bariol Regular", "Bariol Bold", "Bariol Light", "Bariol Thin";
	font-size:20px;
}

.barranav {
	margin-top:-13px;
}

.dentronav{
	margin-left:97px;
}

.colornav {
	background:#3366cc;
}

.fuera {
	margin-top:5px;
	line-height:43px;
}

.fuera2 {
	margin-bottom:12px;
}

.letras {
	color:#000000;
	padding:0px 20px;
	font-family:"Bariol Regular", "Bariol Bold", "Bariol Light", "Bariol Thin";
	font-size:20px;
	font-weight:bold;
	display:block;
}

.letras:hover {
	text-decoration:none;
	color:#FFFFFF;
	display:block;
}